In [1]:
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [45]:
data = pd.read_csv('bike_train_csv.csv',encoding='UTF-8')

In [46]:
data['TDate'] = pd.to_datetime(data['dteday'])
data['TDate'] +=  pd.to_timedelta(data['hr'], unit='h')
data.set_index('TDate', inplace=True)
data = data.drop(['instant','dteday','yr','mnth','holiday','weekday','workingday','weathersit','windspeed', 'casual','registered'],axis=1)

In [47]:
data.head()

                     season  hr  temp   atemp   hum  cnt
TDate
2011-01-01 00:00:00       1   0  0.24  0.2879  0.81   16
2011-01-01 01:00:00       1   1  0.22  0.2727  0.80   40
2011-01-01 02:00:00       1   2  0.22  0.2727  0.80   32
2011-01-01 03:00:00       1   3  0.24  0.2879  0.75   13
2011-01-01 04:00:00       1   4  0.24  0.2879  0.75    1

In [48]:
#se separa la columna con las predicciones
X = np.array(data.drop(['cnt'],1))
y = np.array(data['cnt'])

#se separan los datos
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [6]:
#regresion Logística
logreg = LogisticRegression(solver='lbfgs', max_iter=3000)
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
print('Precisión Regresión Logística:')
print(logreg.score(X_train,y_train))

Presición Regresión Logística:
0.17637253880612563

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [54]:
#SVC
svc= SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
print('Precisión SVC:')
print(svc.score(X_train,y_train))

Precisión SVC:
0.024690071882487757

In [53]:
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_train, y_train)
Ypred = knn.predict(X_test)
print('Precisión vecinos mas cercano:')
print(knn.score(X_train,y_train))

Precisión vecinos mas cercano:
0.5070319824981769

In [55]:
dataT = pd.read_csv('bike_test_csv.csv',encoding='UTF-8')
dataT['TDate'] = pd.to_datetime(dataT['dteday'])
dataT['TDate'] +=  pd.to_timedelta(dataT['hr'], unit='h')
dataT.set_index('TDate', inplace=True)
dataT = dataT.drop(['instant','dteday','yr','mnth','holiday','weekday','workingday','weathersit','windspeed'],axis=1)

In [56]:
dataT.head()

                     season  hr  temp   atemp   hum
TDate
2012-05-20 04:00:00       2   4  0.52  0.5000  0.68
2012-05-20 05:00:00       2   5  0.50  0.4848  0.72
2012-05-20 06:00:00       2   6  0.50  0.4848  0.63
2012-05-20 07:00:00       2   7  0.52  0.5000  0.68
2012-05-20 08:00:00       2   8  0.56  0.5303  0.56

In [57]:
prediccion_knn = knn.predict(dataT)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [58]:
dataT['pred'] = prediccion_knn

In [59]:
dataT.head()

                     season  hr  temp   atemp   hum  pred
TDate
2012-05-20 04:00:00       2   4  0.52  0.5000  0.68     5
2012-05-20 05:00:00       2   5  0.50  0.4848  0.72    17
2012-05-20 06:00:00       2   6  0.50  0.4848  0.63    16
2012-05-20 07:00:00       2   7  0.52  0.5000  0.68    60
2012-05-20 08:00:00       2   8  0.56  0.5303  0.56   374

In [61]:
dataT.to_csv('bike_Test_knn.csv')